<footer>
  <div class="logo">
    <img src="../../../assets/img/logo vz.png" width="50rem" alt="logo" />
    <h3>VOLLEYZONE</h3>
  </div>
  <br />
  <!-- connect section -->
  <div class="content">
    <div class="container">
      <div class="info">
        <h4>CONTACTS</h4>
        <br />
        <ul>
          <li>
            <a href="https://github.com" class="noUnderline">
              <i class="bi bi-github icon"></i>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com" class="noUnderline">
              <i class="bi bi-linkedin icon"></i>
            </a>
          </li>
          <li>
            <a href="mailto:your_email@example.com" class="noUnderline">
              <i class="bi bi-envelope-fill icon"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com" class="noUnderline">
              <i class="bi bi-instagram icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
