<footer>
  <div class="logo">
    <img src="../../../assets/img/logo vz.png" width="50rem" alt="logo" />
    <h1>VOLLEYZONE</h1>
  </div>
  <br />
  <!-- connect section -->
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>CONTACTS</h1>
        <ul>
          <li>
            <a href="https://github.com">
              <i class="pi-github"></i>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com">
              <i class="pi-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="mailto:your_email@example.com">
              <i class="pi-google"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com">
              <i class="pi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
