footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    display: flex;
    align-items: center;
  }

  h3,h4 {
    text-align: center;
    color: #E49622;
    font-weight: 550px;
  }

  .icon {
    font-size: 1rem; /* adjust as needed */
    color: #E49622;
  }
  
  a {
    text-decoration: none;
  }
  a.noUnderline {
    text-decoration: none;
  }
    

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;

      li {
        margin-right: 1rem; // adjust as needed

        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
