<app-sidebar></app-sidebar>g
<!-- src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
            alt="{{ user.displayName }}"
                user.displayName ? user.displayName : "User"
              User ID: <strong>{{ user.uid }}</strong>
              Email: <strong>{{ user.email }}</strong>
              Email Verified: <strong>{{ user.emailVerified }}</strong> -->
<!-- Page Container -->
<div class="container">
  <!-- The Grid -->
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-3">
      <!-- Profile -->
      <div class="card profile-card">
        <div class="card-body text-center">
          <h4 class="card-title">My Profile</h4>
          <p class="text-center profile-image">
            <img
              src="../../../assets/img/hinata.png"
              class="rounded-circle"
              alt="Avatar"
            />
          </p>
          <hr />
          <p
            class="d-flex align-items-center justify-content-center profile-info"
          >
            <i class="bi bi-pencil-fill mr-2"></i> Karasuno
          </p>
          <p
            class="d-flex align-items-center justify-content-center profile-info"
          >
            <i class="bi bi-house-fill mr-2"></i> Tokyo, Japan
          </p>
          <p
            class="d-flex align-items-center justify-content-center profile-info"
          >
            <i class="bi bi-gift-fill mr-2"></i> April 1, 1988
          </p>
        </div>

        <!-- Accordion -->
        <div class="card">
          <div class="card-body">
            <button
              (click)="toggleGroups()"
              class="btn btn-block text-left"
              type="button"
              [attr.aria-expanded]="showGroups"
            >
              <i class="bi bi-microsoft-teams"></i> My Groups
            </button>
            <div *ngIf="showGroups">
              <p class="accordionP">Karasuno</p>
            </div>
            <button
              (click)="toggleTrainings()"
              class="btn btn-block text-left"
              type="button"
              [attr.aria-expanded]="showTrainings"
            >
              <i class="bi bi-calendar-check-fill"></i> My Trainings
            </button>
            <div *ngIf="showTrainings">
              <p class="accordionP">Karasuno High School 29/03/2023</p>
            </div>
            <button
              (click)="togglePhotos()"
              class="btn btn-block text-left"
              type="button"
              [attr.aria-expanded]="showPhotos"
            >
              <i class="bi bi-images"></i> My Photos
            </button>
            <div *ngIf="showPhotos" class="collapse">
              <div class="row">
                <div class="col">
                  <img src="/w3images/lights.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/nature.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/mountains.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/forest.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/nature.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/snow.jpg" class="img-fluid mb-2" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left Column -->
    </div>
    <!-- Middle Column -->
    <div class="col-md-6">
      <!-- create post -->
      <div class="row">
        <div class="col-md-12">
          <div class="card round white">
            <div class="card-body bg-light">
              <h6>How was your volleyball practice today?</h6>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Status: Feeling Blue"
                  id="floatingTextarea"
                  style="resize: none"
                ></textarea>
                <label for="floatingTextarea" class="text-dark"
                  >Express your thoughts</label
                >
              </div>
              <button type="button" class="float-right btn-primary">
                <i class="bi bi-pencil"></i> Post
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end create post -->
      <br />
      <!--  post 1 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/kageyama.png"
                  alt="Avatar"
                  class="rounded-circle mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Tobio Kageyama</h4>
              </div>
              <span class="text-muted">16 min</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great practice session today! Can't wait for the next
                training!
              </p>
              <button type="button" class="btn btn-primary mb-2 mr-2">
                <i class="bi bi-hand-thumbs-up-fill"></i> Like
              </button>
              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="showComments = !showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary mt-2"
                  (click)="saveComment()"
                >
                  Submit
                </button>
              </div>

              <!-- Display the saved comment -->
              <div *ngIf="savedComment" class="card bg-light mb-3">
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <p class="card-text">{{ savedComment }}</p>
                </div>
              </div>
              <!-- comment section -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 1 -->
      <!--  post 2 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/tsukki.png"
                  alt="Avatar"
                  class="rounded-circle mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Kei Tsukishima</h4>
              </div>
              <span class="text-muted">30 sec</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great practice session today! Can't wait for the next
                training!
              </p>
              <button type="button" class="btn btn-primary mb-2 mr-2">
                <i class="bi bi-hand-thumbs-up-fill"></i> Like
              </button>
              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="showComments = !showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary mt-2"
                  (click)="saveComment()"
                >
                  Submit
                </button>
              </div>

              <!-- Display the saved comment -->
              <div *ngIf="savedComment" class="card bg-light mb-3">
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <p class="card-text">{{ savedComment }}</p>
                </div>
              </div>
              <!-- comment section -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 2 -->
      <!--  post 3 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/nishinoya.png"
                  alt="Avatar"
                  class="rounded-circle mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Yu Nishinoya</h4>
              </div>
              <span class="text-muted">3 hour</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great practice session today! Can't wait for the next
                training!
              </p>
              <button type="button" class="btn btn-primary mb-2 mr-2">
                <i class="bi bi-hand-thumbs-up-fill"></i> Like
              </button>
              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="showComments = !showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary mt-2"
                  (click)="saveComment()"
                >
                  Submit
                </button>
              </div>

              <!-- Display the saved comment -->
              <div *ngIf="savedComment" class="card bg-light mb-3">
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <p class="card-text">{{ savedComment }}</p>
                </div>
              </div>
              <!-- comment section -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 3 -->
      <!--  post 4 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/ushijima.png"
                  alt="Avatar"
                  class="rounded-circle mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Wakatoshi Ushijima</h4>
              </div>
              <span class="text-muted">45 min</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great practice session today! Can't wait for the next
                training!
              </p>
              <button type="button" class="btn btn-primary mb-2 mr-2">
                <i class="bi bi-hand-thumbs-up-fill"></i> Like
              </button>
              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="showComments = !showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary mt-2"
                  (click)="saveComment()"
                >
                  Submit
                </button>
              </div>

              <!-- Display the saved comment -->
              <div *ngIf="savedComment" class="card bg-light mb-3">
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <p class="card-text">{{ savedComment }}</p>
                </div>
              </div>
              <!-- comment section -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 4 -->
      <!-- End Middle Column -->
    </div>
    <!-- Right Column -->
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Upcoming Events:</h5>
          <img
            src="../../../assets/img/event.png"
            class="img-fluid"
            alt="Forest"
          />
          <h5 class="card-title"><strong>Road to Paris</strong></h5>
          <p class="card-text">Volleyball Qualifier</p>
          <a
            href="https://olympics.com/en/news/volleyball-mens-olympic-qualifying-tournaments-preview-schedule-watch"
            target="_blank"
          >
            <button class="btn btn-primary btn-block">Info</button>
          </a>
        </div>
      </div>
      <br />
      <!-- start friend request -->
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Friend Request</h5>
          <img
            src="../../../assets/img/kuuro.png"
            class="img-fluid rounded-circle w-50 mx-auto"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Tetsurō Kuroo</h6>
          <div class="row">
            <div class="col">
              <button class="btn btn-success btn-block" title="Accept">
                <i class="bi bi-check-lg"></i>Accept
              </button>
            </div>
            <div class="col">
              <button class="btn btn-danger btn-block" title="Decline">
                <i class="bi bi-x-lg"></i>Decline
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end friend request -->
      <br />
      <!-- add friend 1 -->
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Players you might know</h5>
          <img
            src="../../../assets/img/kuuro.png"
            class="img-fluid rounded-circle w-50 mx-auto"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Tetsurō Kuroo</h6>
          <button
            class="btn btn-success btn-block mt-3"
            title="Send Friend Request"
          >
            <i class="bi bi-person-plus"></i> Send Friend Request
          </button>
        </div>
      </div>
      <!-- end add friends 1 -->
      <!-- add friend 2-->
      <div class="card text-center">
        <div class="card-body">
          <img
            src="../../../assets/img/kuuro.png"
            class="img-fluid rounded-circle w-50 mx-auto"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Tetsurō Kuroo</h6>
          <button
            class="btn btn-success btn-block mt-3"
            title="Send Friend Request"
          >
            <i class="bi bi-person-plus"></i> Send Friend Request
          </button>
        </div>
      </div>
      <!-- end add friends 3 -->
      <div class="card text-center">
        <div class="card-body">
          <img
            src="../../../assets/img/kuuro.png"
            class="img-fluid rounded-circle w-50 mx-auto"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Tetsurō Kuroo</h6>
          <button
            class="btn btn-success btn-block mt-3"
            title="Send Friend Request"
          >
            <i class="bi bi-person-plus"></i> Send Friend Request
          </button>
        </div>
      </div>
      <!-- end add friends 3-->
      <!-- End Right Column -->
    </div>
    <!--  -->
  </div>
</div>

<app-footer></app-footer>
