<!-- Top navigation -->
<app-sidebar></app-sidebar>
<!-- src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
            alt="{{ user.displayName }}"
                user.displayName ? user.displayName : "User"
              User ID: <strong>{{ user.uid }}</strong>
              Email: <strong>{{ user.email }}</strong>
              Email Verified: <strong>{{ user.emailVerified }}</strong> -->
<div class="container">
  <div class="row">
    <!-- First column -->
    <div class="col-md">
      <div class="mt-4 px-0">
        <div
          class="bg-dark text-white rounded-top-2 rounded-bottom-2 pb-2 pt-2 text-center"
        >
          <img
            src="../../../assets/img/hinata.png"
            alt="profile"
            class="rounded-circle mx-auto d-block mt-2"
            width="100"
            height="100"
          />
          <h6 class="pt-4 clickable">Hinata Shoyo</h6>
          <p class="text-secondary px-2">Karasuno</p>
          <hr />
          <p class="mb-0 text-secondary px-2 clickable">My Profile</p>
          <hr />
          <a routerLink="/my-network" class="text-decoration-none">
            <p class="mb-0 text-secondary px-2 clickable">Teammates</p>
          </a>
          <hr />
          <p class="mb-0 text-secondary px-2">
            <a
              href=""
              class="text-secondary text-decoration-none"
              target="_blank clickable"
              >Expand your circle</a
            >
          </p>
          <hr />
          <p class="px-2 text-secondary mb-2 clickable">My Team</p>
          <hr />
          <p class="px-2 text-secondary mb-2 clickable">Trainings</p>
        </div>
      </div>
    </div>

    <!-- Second column -->
    <div class="col-6">
      <div class="mt-4 px-0 bg-dark border rounded-3">
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <form class="w-100">
            <input
              type="text"
              id="add-post"
              placeholder="Start a post"
              class="rounded-pill border border-1 py-2 ms-3 w-90"
            />
          </form>
        </div>
        <div class="d-flex px-4 justify-content-between">
          <div class="text-primary d-flex align-items-baseline">
            <i class="bi bi-image"></i>
            <p class="text-secondary ms-1">Media</p>
          </div>
          <div class="text-warning d-flex align-items-baseline">
            <i class="bi bi-calendar3"></i>
            <p class="text-secondary ms-1">Event</p>
          </div>
          <div class="text-danger d-flex align-items-baseline">
            <i class="bi bi-journal-richtext"></i>
            <p class="text-secondary ms-1">Scrivi cosa pensi</p>
          </div>
        </div>
      </div>
      <!-- inizio post -->
      <div class="mt-4 px-0 bg-white border rounded-3">
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <i class="bi bi-x-lg text-secondary"></i>
        </div>
        <div class="d-flex flex-column ms-2">
          <div>
            <h6 class="mb-0">
              Hinata Shoyo
              <span class="text-secondary">&centerdot; 1&deg;</span>
            </h6>
            <p class="text-secondary p-0 m-0 user-info">Karasuno</p>
            <p class="text-secondary p-0 m-0 user-info">
              4 ore
              <span>&centerdot; <i class="bi bi-globe-americas"></i></span>
            </p>
          </div>
        </div>
        <br />
        <div>
          <p class="ms-4">Can't wait to play volleyball!</p>
        </div>
        <div class="d-flex px-4 justify-content-between">
          <div class="d-flex align-items-baseline" ngbDropdown placement="top">
            <div id="dropdownBasic2" ngbDropdownToggle class="clickable">
              <div class="d-flex align-items-baseline">
                <i class="bi bi-hand-thumbs-up text-secondary"></i>
                <p class="text-secondary ms-1">Recommend</p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <div>
            <input
              type="text"
              id="add-post"
              placeholder="Add a comment..."
              class="rounded-pill border border-1 py-1 ms-2 border border-2"
            />
          </div>
        </div>
      </div>
      <!-- fine post -->
      <!-- inizio post -->
      <div class="mt-4 px-0 bg-white border rounded-3">
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <i class="bi bi-x-lg text-secondary"></i>
        </div>
        <div class="d-flex flex-column ms-2">
          <div>
            <h6 class="mb-0">
              Tobio Kageyana
              <span class="text-secondary">&centerdot; 1&deg;</span>
            </h6>
            <p class="text-secondary p-0 m-0 user-info">Karasuno</p>
            <p class="text-secondary p-0 m-0 user-info">
              21 minuti
              <span>&centerdot; <i class="bi bi-globe-americas"></i></span>
            </p>
          </div>
        </div>
        <br />
        <div>
          <p class="ms-4">I'm feeling like a king today.</p>
        </div>
        <div class="d-flex px-4 justify-content-between">
          <div class="d-flex align-items-baseline" ngbDropdown placement="top">
            <div id="dropdownBasic2" ngbDropdownToggle class="clickable">
              <div class="d-flex align-items-baseline">
                <i class="bi bi-hand-thumbs-up text-secondary"></i>
                <p class="text-secondary ms-1">Recommend</p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <div>
            <input
              type="text"
              id="add-post"
              placeholder="Add a comment..."
              class="rounded-pill border border-1 py-1 ms-2 border border-2"
            />
          </div>
        </div>
      </div>

      <!-- fine post -->
      <!-- inizio post -->
      <div class="mt-4 px-0 bg-white border rounded-3">
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <i class="bi bi-x-lg text-secondary"></i>
        </div>
        <div class="d-flex flex-column ms-2">
          <div>
            <h6 class="mb-0">
              Kei Tsukishima
              <span class="text-secondary">&centerdot; 1&deg;</span>
            </h6>
            <p class="text-secondary p-0 m-0 user-info">Karasuno</p>
            <p class="text-secondary p-0 m-0 user-info">
              21 minuti
              <span>&centerdot; <i class="bi bi-globe-americas"></i></span>
            </p>
          </div>
        </div>
        <br />
        <div>
          <p class="ms-4">I will block you Ushijima./p></p>
        </div>

        <div class="d-flex px-4 justify-content-between">
          <div class="d-flex align-items-baseline" ngbDropdown placement="top">
            <div id="dropdownBasic2" ngbDropdownToggle class="clickable">
              <div class="d-flex align-items-baseline">
                <i class="bi bi-hand-thumbs-up text-secondary"></i>
                <p class="text-secondary ms-1">Recommend</p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <div>
            <input
              type="text"
              id="add-post"
              placeholder="Add a comment..."
              class="rounded-pill border border-1 py-1 ms-2 border border-2"
            />
          </div>
        </div>
      </div>

      <!-- fine post -->
      <!-- inizio post -->
      <div class="mt-4 px-0 bg-white border rounded-3">
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <i class="bi bi-x-lg text-secondary"></i>
        </div>
        <div class="d-flex flex-column ms-2">
          <div>
            <h6 class="mb-0">
              Tetsurō Kuroo
              <span class="text-secondary">&centerdot; 1&deg;</span>
            </h6>
            <p class="text-secondary p-0 m-0 user-info">Nekoma</p>
            <p class="text-secondary p-0 m-0 user-info">
              48 minuti
              <span>&centerdot; <i class="bi bi-globe-americas"></i></span>
            </p>
          </div>
        </div>
        <br />
        <div>
          <p class="ms-4">Can't wait to play with Kenma!</p>
        </div>
        <div class="d-flex px-4 justify-content-between">
          <div class="d-flex align-items-baseline" ngbDropdown placement="top">
            <div id="dropdownBasic2" ngbDropdownToggle class="clickable">
              <div class="d-flex align-items-baseline">
                <i class="bi bi-hand-thumbs-up text-secondary"></i>
                <p class="text-secondary ms-1">Recommend</p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <div>
            <input
              type="text"
              id="add-post"
              placeholder="Add a comment..."
              class="rounded-pill border border-1 py-1 ms-2 border border-2"
            />
          </div>
        </div>
      </div>

      <!-- fine post -->
      <!-- 3 colonna -->
    </div>
    <div class="col-3">
      <div>
        <div class="card mb-2 bg-dark">
          <
          <h6 class="pt-2 px-3 fw-bold mb-0">Player you may know</h6>
          <span class="text-secondary px-3">From your city</span>
          <!-- profilo -->
          <div class="card-body px-0 pb-4 border-bottom">
            <div class="d-flex justify-content-between align-items-center px-3">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="../../../assets/img/kageyama.png"
                  alt="profile"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />
                <div>
                  <p class="text-white fw-bold m-0">Tobio Kageyana</p>
                  <p class="mb-2">Karasuno</p>
                  <button
                    type="button"
                    class="btn rounded-pill border border-2 border-secondary px-3 text-secondary"
                  >
                    <span><i class="bi bi-person-plus"></i> Connect</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- fine profilo -->
          <!-- profilo -->
          <div class="card-body px-0 pb-4 border-bottom">
            <div class="d-flex justify-content-between align-items-center px-3">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="../../../assets/img/tsukki.png"
                  alt="profile"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />
                <div>
                  <p class="text-white fw-bold m-0">Kei Tsukishima</p>
                  <p class="mb-2">Karasuno</p>
                  <button
                    type="button"
                    class="btn rounded-pill border border-2 border-secondary px-3 text-secondary"
                  >
                    <span><i class="bi bi-person-plus"></i> Connect</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- fine profilo -->
          <!-- profilo -->
          <div class="card-body px-0 pb-4 border-bottom">
            <div class="d-flex justify-content-between align-items-center px-3">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="../../../assets/img/nishinoya.png"
                  alt="profile"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />
                <div>
                  <p class="text-white fw-bold m-0">Yu Nishinoya</p>
                  <p class="mb-2">Karasuno</p>
                  <button
                    type="button"
                    class="btn rounded-pill border border-2 border-secondary px-3 text-secondary"
                  >
                    <span><i class="bi bi-person-plus"></i> Connect</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- fine profilo -->
        </div>
      </div>
      <!-- People you may know section -->
      <div>
        <div class="card mb-2 bg-dark">
          <h6 class="pt-2 px-3 fw-bold mb-0">Players you may know</h6>
          <span class="text-secondary px-3">From your circle</span>
          <!-- inizio profilo -->
          <div class="card-body px-0 pb-4 border-bottom">
            <div class="d-flex justify-content-between align-items-center px-3">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="../../../assets/img/kuuro.png"
                  alt="profile"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />
                <div>
                  <p class="text-white fw-bold m-0">Tetsurō Kuroo</p>
                  <p class="mb-2">Nekoma</p>
                  <button
                    type="button"
                    class="btn rounded-pill border border-2 border-secondary px-3 text-secondary"
                  >
                    <span><i class="bi bi-person-plus"></i> Connect</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- fine profilo -->
          <!-- profilo -->
          <div class="card-body px-0 pb-4 border-bottom">
            <div class="d-flex justify-content-between align-items-center px-3">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="../../../assets/img/ushijima.png"
                  alt="profile"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />
                <div>
                  <p class="text-white fw-bold m-0">Wakatoshi Ushijima</p>
                  <p class="mb-2">Shiratorizawa</p>
                  <button
                    type="button"
                    class="btn rounded-pill border border-2 border-secondary px-3 text-secondary"
                  >
                    <span><i class="bi bi-person-plus"></i> Connect</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- fine profilo -->
          <!-- profilo -->
          <div class="card-body px-0 pb-4 border-bottom">
            <div class="d-flex justify-content-between align-items-center px-3">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="../../../assets/img/bokuto.png"
                  alt="profile"
                  class="rounded-circle"
                  width="50"
                  height="50"
                />
                <div>
                  <p class="text-white fw-bold m-0">Kōtarō Bokuto</p>
                  <p class="mb-2">Fukurōdani</p>
                  <button
                    type="button"
                    class="btn rounded-pill border border-2 border-secondary px-3 text-secondary"
                  >
                    <span><i class="bi bi-person-plus"></i> Connect</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- fine profilo -->
        </div>
      </div>
      <!-- fine people you may know section -->
    </div>
  </div>
</div>
<app-footer></app-footer>
