<app-sidebar></app-sidebar>
<!-- src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
            alt="{{ user.displayName }}"
                user.displayName ? user.displayName : "User"
              User ID: <strong>{{ user.uid }}</strong>
              Email: <strong>{{ user.email }}</strong>
              Email Verified: <strong>{{ user.emailVerified }}</strong> -->
<!-- Page Container -->
<div class="container">
  <!-- The Grid -->
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-3">
      <!-- Profile -->
      <div class="card profile-card">
        <div class="card-body text-center">
          <h4 class="card-title">My Profile</h4>
          <p class="text-center profile-image">
            <img
              src="../../../assets/img/hinata.png"
              class="rounded-square w-50 mx-auto"
              style="object-fit: contain; border-radius: 5px"
              alt="Avatar"
            />
          </p>
          <hr />
          <p
            class="d-flex align-items-center justify-content-center profile-info"
          >
            <i class="bi bi-pencil-fill mr-2"></i> Karasuno
          </p>
          <p
            class="d-flex align-items-center justify-content-center profile-info"
          >
            <i class="bi bi-house-fill mr-2"></i> Tokyo, Japan
          </p>
          <p
            class="d-flex align-items-center justify-content-center profile-info"
          >
            <i class="bi bi-gift-fill mr-2"></i> April 1, 1988
          </p>
        </div>

        <!-- Accordion -->
        <div class="card">
          <div class="card-body bg-dark">
            <button
              (click)="toggleGroups()"
              class="btn btn-block text-left"
              type="button"
              [attr.aria-expanded]="showGroups"
            >
              <i class="bi bi-microsoft-teams"></i> My Groups
            </button>
            <div *ngIf="showGroups">
              <p class="accordionP" (click)="redirectToTeamPage()">Karasuno</p>
            </div>
            <hr />
            <button
              (click)="toggleTrainings()"
              class="btn btn-block text-left"
              type="button"
              [attr.aria-expanded]="showTrainings"
            >
              <i class="bi bi-calendar-check-fill"></i> My Trainings
            </button>
            <div *ngIf="showTrainings">
              <p class="accordionP">Karasuno High School 29/03/2023</p>
            </div>
            <hr />
            <button
              (click)="togglePhotos()"
              class="btn btn-block text-left"
              type="button"
              [attr.aria-expanded]="showPhotos"
            >
              <i class="bi bi-images"></i> My Photos
            </button>
            <div *ngIf="showPhotos" class="collapse">
              <div class="row">
                <div class="col">
                  <img src="/w3images/lights.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/nature.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/mountains.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/forest.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/nature.jpg" class="img-fluid mb-2" />
                </div>
                <div class="col">
                  <img src="/w3images/snow.jpg" class="img-fluid mb-2" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Left Column -->
    </div>

    <!-- end alert -->
    <!-- Middle Column -->
    <div class="col-md-6">
      <!-- create post -->
      <div class="row">
        <div class="col-md-12">
          <div class="card round white">
            <div class="card-body bg-light">
              <h6>How was your volleyball practice today?</h6>
              <div
                *ngIf="showPostAlert"
                class="alert alert-danger"
                role="alert"
              >
                Please share your thoughts submitting!
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Status: Feeling Blue"
                  id="floatingTextarea"
                  style="resize: none"
                  [(ngModel)]="newPostText"
                ></textarea>
                <label for="floatingTextarea" class="text-dark"
                  >Express your thoughts</label
                >
              </div>
              <button
                type="button"
                [ngClass]="newPostText ? 'btn-success' : 'btn-primary'"
                class="float-right btn mb-2 mr-2"
                (click)="addPost()"
                style="transition: background-color 0.3s ease"
              >
                <i class="bi bi-pencil-fill"></i> Post
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end create post -->
      <br />
      <!-- Generated posts -->
      <div class="row" *ngFor="let post of posts">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/kageyama.png"
                  class="rounded-square w-50 mx-auto"
                  style="object-fit: contain"
                  alt="Avatar"
                />
                <h4 class="card-title mb-0">Tobio Kageyama</h4>
              </div>
              <span class="text-muted">{{ getTimeDifference(post) }}</span>
              <hr class="clearfix" />
              <p class="card-text">
                {{ post.text }}
              </p>
              <button
                type="button"
                [ngClass]="post.liked ? 'btn-success' : 'btn-primary'"
                class="btn mb-2 mr-2"
                (click)="post.liked = !post.liked"
                style="transition: background-color 0.3s ease"
              >
                <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ post.liked ? "You liked this post" : "Like" }}
              </button>
              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="post.showComments = !post.showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="post.showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="post.comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  (click)="saveComment(post)"
                >
                  Submit
                </button>
              </div>

              <!-- alert -->
              <div
                *ngIf="showPostAlert"
                class="alert alert-danger"
                role="alert"
              >
                Please enter a comment before submitting!
              </div>
              <!-- alert -->
              <div
                *ngIf="showCommentAlert"
                class="alert alert-danger"
                role="alert"
                style="
                  position: fixed;
                  top: 0;
                  right: 0;
                  z-index: 3;
                  margin: 10px;
                "
              >
                Please enter a comment before submitting!
              </div>

              <!-- Display the saved comments -->
              <div
                *ngFor="let commentData of post.savedComments"
                class="card bg-light mb-3"
              >
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <img
                      [src]="
                        commentData.avatar ? commentData.avatar : post.avatar
                      "
                      alt="Avatar"
                      class="rounded-square mr-2"
                      style="width: 40px"
                    />
                    <h5 class="card-text mb-0">
                      {{
                        commentData.username
                          ? commentData.username
                          : post.username
                      }}
                    </h5>
                  </div>
                  <hr />
                  <p class="card-text">
                    {{
                      commentData.comment ? commentData.comment : commentData
                    }}
                  </p>
                </div>
              </div>
              <!-- end display saved comments -->
            </div>
          </div>
        </div>
      </div>
      <!-- end generated posts -->

      <!--  post 1 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/tsukki.png"
                  alt="Avatar"
                  class="rounded-square mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Kei Tsukishima</h4>
              </div>
              <span class="text-muted">4 hours</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great maatch practice session today! Can't wait to play on
                the next match!
              </p>
              <button
                type="button"
                [ngClass]="post1.liked ? 'btn-success' : 'btn-primary'"
                class="btn mb-2 mr-2"
                (click)="post1.liked = !post1.liked"
                style="transition: background-color 0.3s ease"
              >
                <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ post1.liked ? "You liked this post" : "Like" }}
              </button>

              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="post1.showComments = !post1.showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="post1.showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="post1.comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  (click)="saveComment(post1)"
                >
                  Submit
                </button>
              </div>
              <!-- alert -->
              <div
                *ngIf="showCommentAlert"
                class="alert alert-danger"
                role="alert"
                style="
                  position: fixed;
                  top: 0;
                  right: 0;
                  z-index: 3;
                  margin: 10px;
                "
              >
                Please enter a comment before submitting!
              </div>

              <!-- Display the saved comments -->
              <div
                *ngFor="let commentData of post1.savedComments"
                class="card bg-light mb-3"
              >
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <img
                      [src]="
                        commentData.avatar ? commentData.avatar : post1.avatar
                      "
                      alt="Avatar"
                      class="rounded-square mr-2"
                      style="width: 40px"
                    />
                    <h5 class="card-text mb-0">
                      {{
                        commentData.username
                          ? commentData.username
                          : post1.username
                      }}
                    </h5>
                  </div>
                  <hr />
                  <p class="card-text">
                    {{
                      commentData.comment ? commentData.comment : commentData
                    }}
                  </p>
                </div>
              </div>
              <!-- end display saved comments -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 1 -->
      <!--  post 2 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/kageyama.png"
                  alt="Avatar"
                  class="rounded-square mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Tobio Kageyama</h4>
              </div>
              <span class="text-muted">16 min</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great practice session today! Can't wait for the next
                training!
              </p>
              <button
                type="button"
                [ngClass]="post2.liked ? 'btn-success' : 'btn-primary'"
                class="btn mb-2 mr-2"
                (click)="post2.liked = !post2.liked"
                style="transition: background-color 0.3s ease"
              >
                <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ post2.liked ? "You liked this post" : "Like" }}
              </button>

              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="post2.showComments = !post2.showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="post2.showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="post2.comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  (click)="saveComment(post2)"
                >
                  Submit
                </button>
              </div>
              <!-- alert -->
              <div
                *ngIf="showCommentAlert"
                class="alert alert-danger"
                role="alert"
                style="
                  position: fixed;
                  top: 0;
                  right: 0;
                  z-index: 3;
                  margin: 10px;
                "
              >
                Please enter a comment before submitting!
              </div>

              <!-- Display the saved comments -->
              <div
                *ngFor="let commentData of post2.savedComments"
                class="card bg-light mb-3"
              >
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <img
                      [src]="
                        commentData.avatar ? commentData.avatar : post2.avatar
                      "
                      alt="Avatar"
                      class="rounded-square mr-2"
                      style="width: 40px"
                    />
                    <h5 class="card-text mb-0">
                      {{
                        commentData.username
                          ? commentData.username
                          : post2.username
                      }}
                    </h5>
                  </div>
                  <hr />
                  <p class="card-text">
                    {{
                      commentData.comment ? commentData.comment : commentData
                    }}
                  </p>
                </div>
              </div>
              <!-- end display saved comments -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 2 -->
      <!--  post 3 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/ushijima.png"
                  alt="Avatar"
                  class="rounded-square mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Wakatoshi Ushijima</h4>
              </div>
              <span class="text-muted">29 min</span>
              <hr class="clearfix" />
              <p class="card-text">
                Scored 14 aces today, didn't beat my record. Will try harder
                next time.
              </p>
              <button
                type="button"
                [ngClass]="post3.liked ? 'btn-success' : 'btn-primary'"
                class="btn mb-2 mr-2"
                (click)="post3.liked = !post3.liked"
                style="transition: background-color 0.3s ease"
              >
                <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ post3.liked ? "You liked this post" : "Like" }}
              </button>

              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="post3.showComments = !post3.showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="post3.showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="post3.comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  (click)="saveComment(post3)"
                >
                  Submit
                </button>
              </div>
              <!-- alert -->
              <div
                *ngIf="showCommentAlert"
                class="alert alert-danger"
                role="alert"
                style="
                  position: fixed;
                  top: 0;
                  right: 0;
                  z-index: 3;
                  margin: 10px;
                "
              >
                Please enter a comment before submitting!
              </div>

              <!-- Display the saved comments -->
              <div
                *ngFor="let commentData of post3.savedComments"
                class="card bg-light mb-3"
              >
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <img
                      [src]="
                        commentData.avatar ? commentData.avatar : post3.avatar
                      "
                      alt="Avatar"
                      class="rounded-square mr-2"
                      style="width: 40px"
                    />
                    <h5 class="card-text mb-0">
                      {{
                        commentData.username
                          ? commentData.username
                          : post3.username
                      }}
                    </h5>
                  </div>
                  <hr />
                  <p class="card-text">
                    {{
                      commentData.comment ? commentData.comment : commentData
                    }}
                  </p>
                </div>
              </div>
              <!-- end display saved comments -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 3 -->

      <!--  post 4 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/hinata.png"
                  alt="Avatar"
                  class="rounded-square mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Hinata Shoyo</h4>
              </div>
              <span class="text-muted">16 min</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great practice session today! I didn't close my eyes while
                spiking today!
              </p>
              <button
                type="button"
                [ngClass]="post4.liked ? 'btn-success' : 'btn-primary'"
                class="btn mb-2 mr-2"
                (click)="post4.liked = !post4.liked"
                style="transition: background-color 0.3s ease"
              >
                <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ post4.liked ? "You liked this post" : "Like" }}
              </button>

              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="post4.showComments = !post4.showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="post4.showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="post4.comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  (click)="saveComment(post4)"
                >
                  Submit
                </button>
              </div>
              <!-- alert -->
              <div
                *ngIf="showCommentAlert"
                class="alert alert-danger"
                role="alert"
                style="
                  position: fixed;
                  top: 0;
                  right: 0;
                  z-index: 3;
                  margin: 10px;
                "
              >
                Please enter a comment before submitting!
              </div>

              <!-- Display the saved comments -->
              <div
                *ngFor="let commentData of post4.savedComments"
                class="card bg-light mb-3"
              >
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <img
                      [src]="
                        commentData.avatar ? commentData.avatar : post4.avatar
                      "
                      alt="Avatar"
                      class="rounded-square mr-2"
                      style="width: 40px"
                    />
                    <h5 class="card-text mb-0">
                      {{
                        commentData.username
                          ? commentData.username
                          : post4.username
                      }}
                    </h5>
                  </div>
                  <hr />
                  <p class="card-text">
                    {{
                      commentData.comment ? commentData.comment : commentData
                    }}
                  </p>
                </div>
              </div>
              <!-- end display saved comments -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 4 -->

      <!-- End Middle Column -->
    </div>
    <!-- Right Column -->
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Upcoming Events:</h5>
          <img
            src="../../../assets/img/event.png"
            class="img-fluid"
            alt="Forest"
          />
          <h5 class="card-title"><strong>Road to Paris</strong></h5>
          <p class="card-text">Volleyball Qualifier</p>
          <a
            href="https://olympics.com/en/news/volleyball-mens-olympic-qualifying-tournaments-preview-schedule-watch"
            target="_blank"
          >
            <button class="btn btn-primary btn-block">Info</button>
          </a>
        </div>
      </div>
      <br />

      <!-- start friend request -->
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Friend Request</h5>
          <img
            src="../../../assets/img/kuuro.png"
            class="rounded-square mx-auto d-block"
            style="object-fit: contain; width: 50%"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Tetsurō Kuroo</h6>
          <div class="row">
            <div class="col">
              <div
                *ngIf="requestAccepted"
                class="alert alert-success"
                role="alert"
              >
                Request accepted!
              </div>

              <div
                *ngIf="requestDeclined"
                class="alert alert-danger"
                role="alert"
              >
                Request declined!
              </div>

              <button
                [ngClass]="requestAccepted ? 'btn-success' : 'btn-primary'"
                class="btn btn-block btn-fixed-width"
                (click)="acceptRequest()"
                style="transition: background-color 0.3s ease"
                title="Accept"
              >
                <i class="bi bi-check"></i>
                {{ requestAccepted ? "Accepted" : "Accept" }}
              </button>

              <button
                [ngClass]="requestDeclined ? 'btn-danger' : 'btn-primary'"
                class="btn btn-block btn-fixed-width"
                (click)="declineRequest()"
                style="transition: background-color 0.3s ease"
                title="Decline"
              >
                <i class="bi bi-x"></i>
                {{ requestDeclined ? "Declined" : "Decline" }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end friend request -->

      <br />

      <!-- start players you might know section -->

      <!-- add friend 1 -->
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Players you might know</h5>
          <img
            src="../../../assets/img/ushijima.png"
            class="img-fluid rounded-square w-50 mx-auto"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Wakatoshi Ushijima</h6>
          <button
            [ngClass]="requestFriendSent['1'] ? 'btn-warning' : 'btn-success'"
            class="btn btn-block"
            (click)="sendRequest('1')"
            style="transition: background-color 0.3s ease"
            title="Send Friend Request"
          >
            <i class="bi bi-person-plus"></i>
            {{
              requestFriendSent["1"] ? "Pending Request" : "Send Friend Request"
            }}
          </button>
        </div>
      </div>
      <!-- end add friends 1 -->
      <!-- add friend 2-->
      <div class="card text-center">
        <div class="card-body">
          <img
            src="../../../assets/img/bokuto.png"
            class="img-fluid rounded-square w-50 mx-auto"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Kotaru Bokuto</h6>
          <button
            [ngClass]="requestFriendSent['2'] ? 'btn-warning' : 'btn-success'"
            class="btn btn-block"
            (click)="sendRequest('2')"
            style="transition: background-color 0.3s ease"
            title="Send Friend Request"
          >
            <i class="bi bi-person-plus"></i>
            {{
              requestFriendSent["2"] ? "Pending Request" : "Send Friend Request"
            }}
          </button>
        </div>
      </div>
      <!-- end add friends 3 -->
      <div class="card text-center">
        <div class="card-body">
          <img
            src="../../../assets/img/oikawa.png"
            class="img-fluid rounded-square w-50 mx-auto"
            alt="Avatar"
          />
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Toru Oikawa</h6>
          <button
            [ngClass]="requestFriendSent['3'] ? 'btn-warning' : 'btn-success'"
            class="btn btn-block"
            (click)="sendRequest('3')"
            style="transition: background-color 0.3s ease"
            title="Send Friend Request"
          >
            <i class="bi bi-person-plus"></i>
            {{
              requestFriendSent["3"] ? "Pending Request" : "Send Friend Request"
            }}
          </button>
        </div>
      </div>
      <!-- end add friends 3-->

      <!-- end players you might know section -->

      <!-- End Right Column -->
    </div>
    <!--  -->
  </div>
</div>

<app-footer></app-footer>
