.container {
  max-width: 1400px;
  margin-top: 80px;
}
// left column style
.profile-card {
  .card-body {
    background-color:#E49622;
    .profile-image {
      img.rounded-circle {
        height: 106px;
        width: 106px;
      }
    }
    .profile-info {
      i {
        margin-right: 0.5rem;
      }
    }
  }
}

.row {
  .col-md-3 {
    .card {
      &.rounded, &.white {
        .card-body {
          h4.card-title {
            text-align: center;
          }
          p.text-center {
            img.rounded-circle {
              height: 106px;
              width: 106px;
            }
          }
          hr {
            margin: 0.5rem 0;
          }
          p {
            i.bi-pencil-fill, i.bi-house-fill, i.bi-gift-fill {
              margin-right: 0.25rem;
              color: #333;
            }
          }
        }
      }
      .card-body {
        button.btn {
          i.bi-microsoft-teams, i.bi-calendar-check-fill, i.bi-images {
            margin-right: 0.25rem;
            color: #E49622;
          }
        }
        .collapse {
          p {
            margin-bottom: 1rem;
          }
        }
        .row {
          .col {
            img.img-fluid {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
    .card.d-none.d-sm-block {
      .card-body {
        p {
          span.badge {
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
  .accordionP {
    background-color: #333;
    color:#E49622;
    text-align: center;
    border-radius: 5px;
  }

.text-left{
  color: #E49622;
}

  // post - style
  .card-body.bg-light { 
    color: #E49622; 
  
    h6 {
      color: #E49622 ;
    }
  
    .form-floating {
      textarea.form-control {
        color: #E49622; 
      }
  
      label.text-dark {
        color: #E49622!important; 
        opacity: 80%;
      }
    }
  
    button.float-right {
      float: right ;
      background-color: #E49622;
      border-color: #E49622;
      border-radius: 10px;
      margin-top: 10px;
    }
  }


  

  // comment - style
  .card.bg-light {
    background-color: #f8f9fa !important; // Light background
  
    .card-body {
      .card-text {
        margin-bottom: 0; // Remove bottom margin
      }
    }
  }
  
  .btn-primary {
    background-color: #E49622 ;
    border-color: #E49622 ;
  }
  
  // right column style
  .col-md-2 {
    .card {
      border-radius: .25rem;
      background-color: #fff;
      text-align: center;
      
      .btn-block {
        display: block;
        width: 100%;
      }
      
      .btn-info {
        background-color: theme-color("info");
      }
      
      .btn-success {
        background-color: theme-color("success");
      }
      
      .btn-danger {
        background-color: theme-color("danger");
      }
      
      .img-fluid {
        max-width: 100%;
        height: auto;
      }
      
      .rounded-circle {
        border-radius: 50%;
      }
    }
  }
  
  // friend request style
  .btn-fixed-width {
  width: 100px;  /* Adjust this value as needed */
  font-size: 12px;
  margin:5px;
}
  
}
