<div class="p-grid p-bg-primay">
  <div class="p-col-12">
    <h1>Sign up</h1>
  </div>
  <div class="p-col-6">
    <div class="p-fluid">
      <div class="p-field">
        <label for="First-name">First Name</label>
        <input id="First-name" type="text" pInputText />
      </div>
      <div class="p-field">
        <label for="Last-name">Last Name</label>
        <input id="Last-name" type="text" pInputText />
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText />
      </div>
      <div class="p-field">
        <label for="password">Password</label>
        <input id="password" type="password" pPassword />
      </div>
    </div>
  </div>
  <div class="p-col-6">
    <button pButton type="button" label="Sign up"></button>
    <button pButton type="button" label="Sign up with Google"></button>
    <hr />
    <p>
      Already have an account?
      <a href="/"> Sign in </a>
    </p>
    <p>
      By clicking "Sign up" button above you agree to our
      <a href="/"> terms of use </a>.
    </p>
  </div>
</div>
