<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-media"></div>
      <span>or sign up using your email account</span>
      <div class="p-field">
        <input
          type="text"
          pInputText
          [(ngModel)]="name"
          placeholder="Name"
          required
        />
      </div>
      <div class="p-field">
        <input
          type="text"
          pInputText
          [(ngModel)]="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="p-field">
        <input
          type="password"
          pInputText
          [(ngModel)]="password"
          placeholder="Password"
          required
        />
      </div>
      <p-button label="Sign Up"></p-button>
    </form>
  </div>
  <div class="form-container log-in-container">
    <form action="#">
      <h1>Log In</h1>
      <div class="social-media">
        <a href="#" class="social"><i class="pi-facebook"></i></a>
        <a href="#" class="social"><i class="pi-google"></i></a>
        <a href="#" class="social"><i class="pi-linkedin"></i></a>
      </div>
      <span>or sign up using your email account</span>
      <div class="p-field">
        <input
          type="text"
          pInputText
          [(ngModel)]="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="p-field">
        <input
          type="password"
          pInputText
          [(ngModel)]="password"
          placeholder="Password"
          required
        />
      </div>
      <a href="#">Forgot your password?</a>
      <p-button label="Sign In"></p-button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button (click)="showLoginOverlay = false">Log In</button>
      </div>
      <div class="overlay-panel right">
        <h1>Howdy, Stranger!</h1>
        <p>Sign up for an account and start your journey now!!</p>
        <button (click)="showRegisterOverlay = false">Sign Up</button>
      </div>
    </div>
  </div>

  <!-- Dialogs -->
  <p-dialog header="Welcome Back!" [(visible)]="showLoginOverlay">
    <p>To keep connected with us please login with your personal info</p>
    <p-footer
      ><button (click)="showLoginOverlay = false">Log In</button></p-footer
    >
  </p-dialog>

  <p-dialog header="Howdy, Stranger!" [(visible)]="showRegisterOverlay">
    <p>Sign up for an account and start your journey now!!</p>
    <p-footer
      ><button (click)="showRegisterOverlay = false">Sign Up</button></p-footer
    >
  </p-dialog>
</div>
