.container {
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  background-color: #E49622;
}

.card-body {
  text-align: start;
  color: black;
}

.card-img {
  width: 100%;
}

.skills p {
  margin-bottom: 0;
}

.languages p {
  margin-bottom: 0;
}

// Progress bar styles
.progress {
  height: 24px;
}

.progress-bar {
  font-weight: bold;
  line-height: 24px;
}

// // right column
// .text-grey {
//   color: grey;
// }

// .text-org {
//   color: teal;
// }

.experience,
.education {
  margin-bottom: 20px;
}

.badge {
  font-size: 12px;
  padding: 3px 6px;
}

// post style
.post-body,
.post-text,
.btn,
.form-control {
  padding: 10px;
}

.btn-primary {
  background-color: #E49622;
  border-color: #E49622;
}

// left column style
.profile-card {
  .card-body {
    background-color:#E49622;
  
  }
}
.text-black{
  text-align: center;
}
