<app-sidebar></app-sidebar>
<!-- src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
            alt="{{ user.displayName }}"
                user.displayName ? user.displayName : "User"
              User ID: <strong>{{ user.uid }}</strong>
              Email: <strong>{{ user.email }}</strong>
              Email Verified: <strong>{{ user.emailVerified }}</strong> -->
<!--   Page Container -->
<div class="container">
  <!-- The Grid -->
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-4">
      <div class="card profile-card">
        <div class="card-body">
          <img
            src="../../../assets/img/hinata.png"
            class="card-img rounded-square mb-2"
            alt="Avatar"
          />
          <h2 class="text-black text-center">Hinata Shoyo</h2>
          <a routerLink="/Team" style="text-decoration: none; color: black">
            <h6 class="text-black text-center">Karazuno</h6>
          </a>
          <hr />
          <p><i class="bi bi-briefcase-fill p-2"></i>Student</p>
          <p><i class="bi bi-house-fill p-2"></i>Tokyo,Japan</p>
          <p><i class="bi bi-envelope-fill p-2"></i>hinata@gmail.com</p>
          <p><i class="bi bi-phone-fill p-2"></i>1224435534</p>
          <hr />
          <p class="font-weight-bold"><i class="bi bi-tools p-2"></i>Skills</p>
          <p>Adobe Photoshop</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              90%
            </div>
          </div>
          <p>Photography</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              80%
            </div>
          </div>
          <p>Illustrator</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              75%
            </div>
          </div>
          <p>Media</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              50%
            </div>
          </div>
          <br />
        </div>
      </div>
      <br />
      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="col-md-8">
      <!-- post section -->
      <div class="card bg-light">
        <div class="card-body">
          <h6>How was your volleyball practice today?</h6>
          <div *ngIf="showPostAlert" class="alert alert-danger" role="alert">
            Please share your thoughts submitting!
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Status: Feeling Blue"
              id="floatingTextarea"
              style="resize: none"
              [(ngModel)]="newPostText"
            ></textarea>
            <label for="floatingTextarea" class="text-dark"
              >Express your thoughts</label
            >
          </div>
          <button
            type="button"
            [ngClass]="newPostText ? 'btn-success' : 'btn-primary'"
            class="btn m-2 p-2 float-right"
            (click)="addPost()"
            style="transition: background-color 0.3s ease"
          >
            <i class="bi bi-pencil-fill"></i> Post
          </button>
        </div>
      </div>
      <!-- end post section  -->
      <!-- generated posts section -->
      <div class="col-md-12">
        <div class="card rounded bg-white mb-3" *ngFor="let post of posts">
          <div class="post-body">
            <div class="d-flex align-itemss-center justify-content-start">
              <img
                src="../../../assets/img/hinata.png"
                alt="Avatar"
                class="rounded-square mr-2"
                style="width: 50px"
              />
              <h4 class="card-title mb-0">Hinata Shoyo</h4>
            </div>
            <span class="text-muted">{{ getTimeDifference(post) }}</span>
            <hr class="clearfix" />
            <p class="">
              {{ post.text }}
            </p>
            <button
              type="button"
              [ngClass]="post.liked ? 'btn-success' : 'btn-primary'"
              class="btn mb-2 mr-2"
              (click)="post.liked = !post.liked"
              style="transition: background-color 0.3s ease"
            >
              <i class="bi bi-hand-thumbs-up-fill"></i>
              {{ post.liked ? "You liked this post" : "Like" }}
            </button>
            <!-- start comment section -->
            <button
              type="button"
              class="btn btn-secondary mb-2"
              (click)="post.showComments = !post.showComments"
            >
              <i class="bi bi-chat-left-text-fill"></i> Comment
            </button>

            <div *ngIf="post.showComments">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                  [(ngModel)]="post.comment"
                ></textarea>
                <label for="floatingTextarea">Leave a comment here</label>
              </div>
              <button
                type="button"
                class="btn btn-primary m-2"
                (click)="saveComment(post)"
              >
                Submit
              </button>
            </div>

            <!-- alert -->
            <div *ngIf="showPostAlert" class="alert alert-danger" role="alert">
              Please enter a comment before submitting!
            </div>
            <!-- alert -->
            <div
              *ngIf="showCommentAlert"
              class="alert alert-danger"
              role="alert"
              style="
                position: fixed;
                top: 0;
                right: 0;
                z-index: 3;
                margin: 10px;
              "
            >
              Please enter a comment before submitting!
            </div>

            <!-- Display the saved comments -->
            <div
              *ngFor="let commentData of post.savedComments"
              class="card bg-light mb-3"
            >
              <div class="card-header">Comments</div>
              <div class="post-body">
                <div class="d-flex align-items-center">
                  <img
                    [src]="
                      commentData.avatar ? commentData.avatar : post.avatar
                    "
                    alt="Avatar"
                    class="rounded-square mr-2"
                    style="width: 40px"
                  />
                  <h5 class="post-text mb-0">
                    {{
                      commentData.username
                        ? commentData.username
                        : post.username
                    }}
                  </h5>
                </div>
                <hr />
                <p class="card-text">
                  {{ commentData.comment ? commentData.comment : commentData }}
                </p>
              </div>
            </div>
            <!-- end display saved comments -->
          </div>
        </div>
      </div>
      <!-- end post section  -->

      <!-- Work Experience Section -->
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="text-grey my-4">
            <i class="fa fa-suitcase fa-fw me-3 fs-4 text-teal"></i>Work
            Experience
          </h2>
          <div class="experience">
            <h5><b>Front End Developer / w3schools.com</b></h5>
            <p>
              <i class="fa fa-calendar fa-fw me-2"></i>Jan 2015 -
              <span class="badge bg-teal rounded">Current</span>
            </p>
            <p>
              Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in
              deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
              soluta ea et odio, unde doloremque repellendus iure, iste.
            </p>
            <hr />
          </div>
          <div class="experience">
            <h5><b>Web Developer / something.com</b></h5>
            <p><i class="fa fa-calendar fa-fw me-2"></i>Mar 2012 - Dec 2014</p>
            <p>
              Consectetur adipisicing elit. Praesentium magnam consectetur vel
              in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora
              soluta ea et odio, unde doloremque repellendus iure, iste.
            </p>
            <hr />
          </div>
          <div class="experience">
            <h5><b>Graphic Designer / designsomething.com</b></h5>
            <p><i class="fa fa-calendar fa-fw me-2"></i>Jun 2010 - Mar 2012</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <br />
          </div>
        </div>
      </div>

      <!-- Education Section -->
      <div class="card bg-light mt-4">
        <div class="card-body">
          <h2 class="text-grey my-4">
            <i class="fa fa-certificate fa-fw me-3 fs-4 text-teal"></i>Education
          </h2>
          <div class="education">
            <h5><b>W3Schools.com</b></h5>
            <p><i class="fa fa-calendar fa-fw me-2"></i>Forever</p>
            <p>Web Development! All I need to know in one place</p>
            <hr />
          </div>
          <div class="education">
            <h5><b>London Business School</b></h5>
            <p><i class="fa fa-calendar fa-fw me-2"></i>2013 - 2015</p>
            <p>Master Degree</p>
            <hr />
          </div>
          <div class="education">
            <h5><b>School of Coding</b></h5>
            <p><i class="fa fa-calendar fa-fw me-2"></i>2010 - 2013</p>
            <p>Bachelor Degree</p>
            <br />
          </div>
        </div>
      </div>

      <!-- End Right Column -->
    </div>

    <!-- end The Grid -->
  </div>

  <!-- end  Page Container -->
</div>
