<app-sidebar></app-sidebar>
<!-- src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
            alt="{{ user.displayName }}"
                user.displayName ? user.displayName : "User"
              User ID: <strong>{{ user.uid }}</strong>
              Email: <strong>{{ user.email }}</strong>
              Email Verified: <strong>{{ user.emailVerified }}</strong> -->
<!--   Page Container -->
<div class="container">
  <!-- The Grid -->
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-4">
      <div class="card profile-card">
        <div class="card-body">
          <img
            src="../../../assets/img/hinata.png"
            class="card-img rounded-square mb-2"
            alt="Avatar"
          />
          <h2 class="text-black text-center">Hinata Shoyo</h2>
          <a routerLink="/Team" style="text-decoration: none; color: black">
            <h6 class="text-black text-center">Karazuno</h6>
          </a>
          <hr />
          <p><i class="bi bi-briefcase-fill p-2"></i>Student</p>
          <p><i class="bi bi-house-fill p-2"></i>Tokyo,Japan</p>
          <p><i class="bi bi-envelope-fill p-2"></i>hinata@gmail.com</p>
          <p><i class="bi bi-phone-fill p-2"></i>1224435534</p>
          <hr />
          <!-- skills section -->
          <h3
            class="d-flex justify-content-between align-items-center font-weight-bold"
          >
            <span><i class="bi bi-tools p-2"></i>Skills</span>
            <button class="btn btn-primary btn-icon bg-dark" type="button">
              <i class="bi bi-pencil-fill"></i>
            </button>
          </h3>
          <p>Serve</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              60%
            </div>
          </div>
          <p>Attack</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              70%
            </div>
          </div>
          <p>Set</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 55%"
              aria-valuenow="55"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              55%
            </div>
          </div>
          <p>Defense</p>
          <div class="progress mb-3">
            <div
              class="progress-bar bg-teal"
              role="progressbar"
              style="width: 45%"
              aria-valuenow="45"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              45%
            </div>
          </div>
          <!-- end skill section -->
          <br />
        </div>
      </div>
      <br />
      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="col-md-8">
      <!-- pills Section -->
      <div class="card bg-light">
        <div class="card-body">
          <!-- pills -->
          <mdb-tabs [pills]="true" [justified]="true">
            <!-- recent activities -->
            <mdb-tab>
              <ng-template mdbTabTitle>
                <span class="custom-title"
                  ><i class="bi bi-chart-pie"></i>Activity</span
                >
              </ng-template>
              <ng-template mdbTabContent>
                <div class="col-md-12">
                  <h5 class="mt-2 mb-3 ml-2">
                    <span class="bi bi-clock float-right"></span>
                    Recent Activity
                  </h5>
                  <table class="table table-hover table-striped">
                    <tbody>
                      <tr>
                        <td>Kei Tsukishima posted a new status</td>
                      </tr>
                      <tr>
                        <td>Tobio Kageyama commented on your post</td>
                      </tr>
                      <tr>
                        <td>You liked Yu Nishinoya's Post</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </mdb-tab>
            <!-- messages -->
            <mdb-tab>
              <ng-template mdbTabTitle>
                <span class="custom-title"
                  ><i class="bi bi-chart-line"></i>Notification</span
                >
              </ng-template>

              <ng-template mdbTabContent>
                <div class="tab-pane" id="messages">
                  <table class="table table-hover table-striped">
                    <tbody>
                      <tr>
                        <td>You have one new friend request.</td>
                      </tr>
                      <tr>
                        <td>
                          Upcoming Events: Volleyball Qualifiers. Find out more
                          in this..
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Toru Oikawa just viewed your profile. Do you know this
                          player?
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </mdb-tab>
            <!-- edit -->
            <mdb-tab>
              <ng-template mdbTabTitle>
                <span class="custom-title"><i class="bi bi-cogs"></i>Edit</span>
              </ng-template>
              <ng-template mdbTabContent>
                <div class="tab-pane" id="edit">
                  <form>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Name</label
                      >
                      <div class="col-lg-9">
                        <input
                          class="form-control"
                          mdbInput
                          type="text"
                          mdbModel="first_name"
                          value="Shoyo"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Surname</label
                      >
                      <div class="col-lg-9">
                        <input
                          class="form-control"
                          mdbInput
                          type="text"
                          mdbModel="last_name"
                          value="Hinata"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Email</label
                      >
                      <div class="col-lg-9">
                        <input
                          class="form-control"
                          mdbInput
                          type="email"
                          mdbModel="email"
                          value="hinata@gmail.com.com"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Change profile</label
                      >
                      <div class="col-lg-9">
                        <input class="form-control" mdbInput type="file" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Occupation</label
                      >
                      <div class="col-lg-9">
                        <input
                          class="form-control"
                          mdbInput
                          type="text"
                          mdbModel="occupation"
                          value="Student"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Team
                      </label>
                      <div class="col-lg-9">
                        <input
                          class="form-control"
                          mdbInput
                          type="text"
                          mdbModel="team"
                          value="Karazuno"
                          placeholder="Team"
                        />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Password</label
                      >
                      <div class="col-lg-9">
                        <input
                          class="form-control"
                          mdbInput
                          type="password"
                          mdbModel="password"
                          value=""
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"
                        >Confirm password</label
                      >
                      <div class="col-lg-9">
                        <input
                          class="form-control"
                          mdbInput
                          type="password"
                          mdbModel="confirm_password"
                          value=""
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-9">
                        <input
                          type="reset"
                          class="btn btn-secondary m-2"
                          value="Cancel"
                        />
                        <input
                          type="button"
                          class="btn btn-primary m-2"
                          value="Save Changes"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </mdb-tab>
          </mdb-tabs>

          <!-- end pills section -->
        </div>
      </div>
      <!-- post section -->
      <div class="card bg-light">
        <div class="card-body">
          <h6>How was your volleyball practice today?</h6>
          <div *ngIf="showPostAlert" class="alert alert-danger" role="alert">
            Please share your thoughts submitting!
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Status: Feeling Blue"
              id="floatingTextarea"
              style="resize: none"
              [(ngModel)]="newPostText"
            ></textarea>
            <label for="floatingTextarea" class="text-dark"
              >Express your thoughts</label
            >
          </div>
          <button
            type="button"
            [ngClass]="newPostText ? 'btn-success' : 'btn-primary'"
            class="btn m-2 p-2 float-right"
            (click)="addPost()"
            style="transition: background-color 0.3s ease"
          >
            <i class="bi bi-pencil-fill"></i> Post
          </button>
        </div>
      </div>
      <!-- end post section  -->
      <!-- static post -->
      <!--  post 4 -->
      <div class="row">
        <div class="col-md-12">
          <div class="card rounded bg-white mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img
                  src="../../../assets/img/hinata.png"
                  alt="Avatar"
                  class="rounded-square mr-2"
                  style="width: 50px"
                />
                <h4 class="card-title mb-0">Hinata Shoyo</h4>
              </div>
              <span class="text-muted">16 min</span>
              <hr class="clearfix" />
              <p class="card-text">
                Had a great practice session today! I didn't close my eyes while
                spiking today!
              </p>
              <button
                type="button"
                [ngClass]="post4.liked ? 'btn-success' : 'btn-primary'"
                class="btn mb-2 mr-2"
                (click)="post4.liked = !post4.liked"
                style="transition: background-color 0.3s ease"
              >
                <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ post4.liked ? "You liked this post" : "Like" }}
              </button>

              <!-- start comment section -->
              <button
                type="button"
                class="btn btn-secondary mb-2"
                (click)="post4.showComments = !post4.showComments"
              >
                <i class="bi bi-chat-left-text-fill"></i> Comment
              </button>

              <div *ngIf="post4.showComments">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    [(ngModel)]="post4.comment"
                  ></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  (click)="saveComment(post4)"
                >
                  Submit
                </button>
              </div>
              <!-- alert -->
              <div
                *ngIf="showCommentAlert"
                class="alert alert-danger"
                role="alert"
                style="
                  position: fixed;
                  top: 0;
                  right: 0;
                  z-index: 3;
                  margin: 10px;
                "
              >
                Please enter a comment before submitting!
              </div>

              <!-- Display the saved comments -->
              <div
                *ngFor="let commentData of post4.savedComments"
                class="card bg-light mb-3"
              >
                <div class="card-header">Comments</div>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <img
                      [src]="
                        commentData.avatar ? commentData.avatar : post4.avatar
                      "
                      alt="Avatar"
                      class="rounded-square mr-2"
                      style="width: 40px"
                    />
                    <h5 class="card-text mb-0">
                      {{
                        commentData.username
                          ? commentData.username
                          : post4.username
                      }}
                    </h5>
                  </div>
                  <hr />
                  <p class="card-text">
                    {{
                      commentData.comment ? commentData.comment : commentData
                    }}
                  </p>
                </div>
              </div>
              <!-- end display saved comments -->
            </div>
          </div>
        </div>
      </div>
      <!-- end  post 4 -->
      <!-- end static post -->
      <!-- generated posts section -->
      <div class="col-md-12">
        <div class="card rounded bg-white mb-3" *ngFor="let post of posts">
          <div class="post-body">
            <div class="d-flex align-itemss-center justify-content-start">
              <img
                src="../../../assets/img/hinata.png"
                alt="Avatar"
                class="rounded-square mr-2"
                style="width: 50px"
              />
              <h4 class="card-title mb-0">Hinata Shoyo</h4>
            </div>
            <span class="text-muted">{{ getTimeDifference(post) }}</span>
            <hr class="clearfix" />
            <p class="">
              {{ post.text }}
            </p>
            <button
              type="button"
              [ngClass]="post.liked ? 'btn-success' : 'btn-primary'"
              class="btn mb-2 mr-2"
              (click)="post.liked = !post.liked"
              style="transition: background-color 0.3s ease"
            >
              <i class="bi bi-hand-thumbs-up-fill"></i>
              {{ post.liked ? "You liked this post" : "Like" }}
            </button>
            <!-- start comment section -->
            <button
              type="button"
              class="btn btn-secondary mb-2"
              (click)="post.showComments = !post.showComments"
            >
              <i class="bi bi-chat-left-text-fill"></i> Comment
            </button>

            <div *ngIf="post.showComments">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                  [(ngModel)]="post.comment"
                ></textarea>
                <label for="floatingTextarea">Leave a comment here</label>
              </div>
              <button
                type="button"
                class="btn btn-primary m-2"
                (click)="saveComment(post)"
              >
                Submit
              </button>
            </div>

            <!-- alert -->
            <div *ngIf="showPostAlert" class="alert alert-danger" role="alert">
              Please enter a comment before submitting!
            </div>
            <!-- alert -->
            <div
              *ngIf="showCommentAlert"
              class="alert alert-danger"
              role="alert"
              style="
                position: fixed;
                top: 0;
                right: 0;
                z-index: 3;
                margin: 10px;
              "
            >
              Please enter a comment before submitting!
            </div>

            <!-- Display the saved comments -->
            <div
              *ngFor="let commentData of post.savedComments"
              class="card bg-light mb-3"
            >
              <div class="card-header">Comments</div>
              <div class="post-body">
                <div class="d-flex align-items-center">
                  <img
                    [src]="
                      commentData.avatar ? commentData.avatar : post.avatar
                    "
                    alt="Avatar"
                    class="rounded-square mr-2"
                    style="width: 40px"
                  />
                  <h5 class="post-text mb-0">
                    {{
                      commentData.username
                        ? commentData.username
                        : post.username
                    }}
                  </h5>
                </div>
                <hr />
                <p class="card-text">
                  {{ commentData.comment ? commentData.comment : commentData }}
                </p>
              </div>
            </div>
            <!-- end display saved comments -->
          </div>
        </div>
        <!-- end post section  -->

        <!-- End Right Column -->
      </div>

      <!-- end The Grid -->
    </div>

    <!-- end  Page Container -->
  </div>
</div>
