$primary-color: #E49622;
$primary-bg-color: #333;
$white-color: white;

.container {
  padding: 20px;
}

.card,
.experience,
.education {
  margin-bottom: 20px;
  background-color: $primary-color;
}

.card-body,
.card-img {
  text-align: start;
  color: black;
  width: 100%;
}

.skills p,
.languages p,
.progress {
  margin-bottom: 0;
  height: 24px;
}

.progress-bar {
  font-weight: bold;
  line-height: 24px;
  color: $white-color;
  background-color: $primary-bg-color;
}

h5,
.custom-title {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
}

.badge {
  font-size: 12px;
  padding: 3px 6px;
}

.post-body,
.post-text,
.btn,
.form-control {
  padding: 10px;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.profile-card .card-body {
  background-color: $primary-color;
}

.text-black {
  text-align: center;
}

.nav-pills .nav-link {
  justify-content: center;
}

.nav-link.active,
.show > .nav-link {
  color: $white-color;
  background-color: $primary-bg-color;
}

.form-group {
  margin-bottom: 2rem;  
}