<!-- Section with a full page background color -->
<section class="vh-100" style="background-color: #333">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <!-- Card body with padding -->
          <div class="card-body p-md-5">
            <!-- Row for content alignment -->
            <div class="row justify-content-center">
              <!-- Column for login form -->
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <!-- Logo and title -->
                <div
                  class="text-center d-flex align-items-center justify-content-center mb-3"
                >
                  <img
                    src="../../../assets/img/logo vz.png"
                    width="50rem"
                    alt="logo"
                  />
                  <h1 class="ms-3">VOLLEYZONE</h1>
                </div>
                <!-- Heading text -->
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Play with us!
                </p>

                <!-- Form -->
                <form [formGroup]="registerForm" class="mx-1 mx-md-4">
                  <!-- Row for name and surname -->
                  <div class="row">
                    <!-- Column for name -->
                    <div class="col">
                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="name"
                          class="form-control"
                          formControlName="name"
                        />
                        <label class="form-label" for="name">Your Name</label>
                        <div
                          *ngIf="
                            registerForm.get('name').invalid &&
                            (registerForm.get('name').dirty ||
                              registerForm.get('name').touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="
                              registerForm.get('name').hasError('required')
                            "
                          >
                            Your Name is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Column for surname -->
                    <div class="col">
                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="surname"
                          class="form-control"
                          formControlName="surname"
                        />
                        <label class="form-label" for="surname"
                          >Your Surname</label
                        >
                        <div
                          *ngIf="
                            registerForm.get('surname').invalid &&
                            (registerForm.get('surname').dirty ||
                              registerForm.get('surname').touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="
                              registerForm.get('surname').hasError('required')
                            "
                          >
                            Your Surname is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Row for email -->
                  <div class="row">
                    <div class="col">
                      <div class="form-outline mb-4">
                        <input
                          type="email"
                          id="email"
                          class="form-control"
                          formControlName="email"
                        />
                        <label class="form-label" for="email">Your Email</label>
                        <div
                          *ngIf="
                            registerForm.get('email').invalid &&
                            (registerForm.get('email').dirty ||
                              registerForm.get('email').touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="
                              registerForm.get('email').hasError('required')
                            "
                          >
                            Your Email is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Row for password and repeat password -->
                  <div class="row">
                    <!-- Column for password -->
                    <div class="col">
                      <div class="form-outline mb-4">
                        <input
                          type="password"
                          id="password"
                          class="form-control"
                          formControlName="password"
                        />
                        <label class="form-label" for="password"
                          >Password</label
                        >
                        <div
                          *ngIf="
                            registerForm.get('password').invalid &&
                            (registerForm.get('password').dirty ||
                              registerForm.get('password').touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="
                              registerForm.get('password').hasError('required')
                            "
                          >
                            Password is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Column for repeat password -->
                    <div class="col">
                      <div class="form-outline mb-4">
                        <input
                          type="password"
                          id="repeatPassword"
                          class="form-control"
                        />
                        <label class="form-label" for="repeatPassword"
                          >Repeat your password</label
                        >
                        <div
                          *ngIf="
                            registerForm.get('repeatPassword').invalid &&
                            (registerForm.get('repeatPassword').dirty ||
                              registerForm.get('repeatPassword').touched)
                          "
                          class="text-danger"
                        >
                          <div
                            *ngIf="
                              registerForm
                                .get('repeatPassword')
                                .hasError('required')
                            "
                          >
                            Repeat password is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Checkbox for terms of service -->
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      formControlName="terms"
                      id="form2Example3c"
                    />
                    <label class="form-check-label" for="form2Example3c">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                    <div
                      *ngIf="
                        registerForm.get('terms').invalid &&
                        (registerForm.get('terms').dirty ||
                          registerForm.get('terms').touched)
                      "
                      class="text-danger"
                    >
                      <div
                        *ngIf="
                          registerForm.get('terms').hasError('requiredTrue')
                        "
                      >
                        You must agree to the Terms of Service
                      </div>
                    </div>
                  </div>

                  <!-- Button to submit the form -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      class="btn btn-primary btn-lg"
                      (click)="signUp()"
                      [disabled]="!registerForm.valid"
                    >
                      REGISTER
                    </button>
                  </div>
                  <!-- Section to redirect to login -->
                  <div class="redirectToLogin">
                    <span
                      >Already have an account?
                      <a routerLink="/Login" class="redirect">Log In</a>
                    </span>
                  </div>
                </form>
                <!-- End of form -->
              </div>
              <!-- End of login form column -->
            </div>
            <!-- End of row for content alignment -->
          </div>
          <!-- End of card body -->
        </div>
        <!-- End of card container -->
      </div>
      <!-- End of card column -->
    </div>
    <!-- End of row with flexbox -->
  </div>
  <!-- End of container -->
</section>
<!-- End of section -->
