<!-- Start Landing Page -->
<div class="landing-page">
  <header>
    <div class="container">
      <img
        src="../../../assets/img/logo vz.png"
        alt="Logo"
        width="50rem"
        height="50rem"
        loading="lazy"
      />
      <a href="#" class="logo"><b>Volleyzone</b></a>
    </div>
  </header>
  <!-- Main Section -->
  <div class="content">
    <div class="container">
      <div class="info">
        <h1 style="font-weight: 550px">Stay always connected with your team</h1>
        <div class="buttons">
          <button routerLink="/Login">Login</button>
          <button routerLink="/Register">Join the Community</button>
        </div>
      </div>
      <div class="image">
        <img src="../../../assets/img/landing.png" />
      </div>
    </div>
  </div>
  <!-- About Section -->
  <div class="content">
    <div class="container">
      <div class="info">
        <h1 style="font-weight: 550; color: black">
          <span style="color: #e49622">Volleyzone</span> is a social platform
          looking to change the way volleyball teams connect.
        </h1>
        <p>
          Our app is built to seek, forge, and grow links between you, teams you
          know, and teams you want to play with. The team behind Volleyzone is
          working hard to bring you the only social sport app you will ever
          need.
        </p>
      </div>
    </div>
  </div>
  <!-- Repeated Main Section without buttons -->
  <div class="content">
    <div class="container">
      <div class="image">
        <img src="../../../assets/img/landing2.png" />
      </div>
      <div class="info">
        <h1 style="font-weight: 550">Connect with players</h1>
        <p>Use Volleyzone to connect with players you know.</p>
        <p>
          Volleyzone can also connect you to players outside your usual circle.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Landing Page -->
<app-footer></app-footer>
