/* Start Landing Page */
.landing-page {
  header {
    min-height: 100px;
    display: flex;

    @media (max-width: 767px) {
      min-height: auto;
      display: initial;
    }

    .container {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        flex-direction: row;
        justify-content: center;
      }

      .logo {
        color: #E49622;
        font-style: italic;
        text-transform: uppercase;
        font-size:40px;

        @media (max-width: 767px) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .content {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      min-height: calc(90vh - 80px);

      @media (max-width: 767px) {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 767px) {
          text-align: center;
          margin-bottom: 15px;
          align-items: center;
        }

        h1 {
          color: #E49622;
          font-size: 50px;

          @media (max-width: 600px) {
            font-size: 32px; /* Adjust this value as needed */
        }
      }
        p {
          margin: 0;
          line-height: 1.6;
          font-size: 30px;
          color: #000000;
          font-weight:400px ;
        }

        .buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;

          button {
            border: 0;
            border-radius: 20px;
            padding: 12px 30px;
            margin-top: 5px;
            cursor: pointer;
            color: #000000;
            text-transform: uppercase;
            font-weight: 550;
            background-color: #ff3c5f;
            background-image: linear-gradient(90deg, #ff3c5f 0%, #e49622 100%);
            white-space: nowrap; /* Prevents text from wrapping onto a new line */

            /* Adjust button size for smaller screens */
            @media (max-width: 350px) {
              padding: 6px 15px; /* smaller padding */
              font-size: 0.8em; /* smaller font size */
            }

            /* Make button take full width on screens smaller than 768px */
            @media (max-width: 766px) {
              width: 100%;
            }
          }
        }
      }

      .image {
        position: relative;
        
        &::before {
          content: "";
          position: absolute;
          top: 50%; // Center the shadow vertically
          left: 50%; // Center the shadow horizontally
          transform: translate(-50%, -50%); // This ensures the center of the shadow aligns with the center of the image
          width: calc(100% + 60px); // Adjust this to change the shadow size
          height: calc(100% + 60px); // Adjust this to change the shadow size
          background-image: linear-gradient(90deg, #ff3c5f 0%, #e49622 100%);
          filter: blur(30px); // Adjust this to change the shadow size
          opacity: .8;
          z-index: -1;
          border-radius: 50%; // This makes the shadow round
        }
      
        img {
          display: block;
          width: 600px; // Adjust this to change the size of the image
          height: 400px; // Adjust this to change the size of the image
          object-fit: cover; // This will crop the image to fit the square
         border-radius: 15px;
         
        }
      }
    }
  }
}
/* End Landing Page */
