/* Inizio Pagina di atterraggio */
.landing-page {
  /* Intestazione della pagina */
  header {
    min-height: 100px;
    display: flex;

    /* Adattamento per schermi più piccoli */
    @media (max-width: 767px) {
      min-height: auto;
      display: initial;
    }

    .container {
      display: flex;
      align-items: center;

      /* Adattamento per schermi più piccoli */
      @media (max-width: 767px) {
        flex-direction: row;
        justify-content: center;
      }

      /* Stile del logo */
      .logo {
        color: #E49622;
        font-style: italic;
        text-transform: uppercase;
        font-size:40px;

        /* Adattamento per schermi più piccoli */
        @media (max-width: 767px) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  /* Contenuto della pagina */
  .content {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      min-height: calc(90vh - 80px);

      /* Adattamento per schermi più piccoli */
      @media (max-width: 767px) {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
      }

      /* Informazioni sulla pagina */
      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        /* Adattamento per schermi più piccoli */
        @media (max-width: 767px) {
          text-align: center;
          margin-bottom: 15px;
          align-items: center;
        }

        /* Stile del titolo */
        h1 {
          color: #E49622;
          font-size: 50px;

          /* Adattamento per schermi più piccoli */
          @media (max-width: 600px) {
            font-size: 32px; 
          }
        }

        /* Stile del paragrafo */
        p {
          margin: 0;
          line-height: 1.6;
          font-size: 30px;
          color: #000000;
          font-weight:400px ;
        }

        /* Stile dei pulsanti */
        .buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;

          button {
            border-radius: 20px; 
            padding: 12px 30px; 
            margin-top: 5px; 
            color:#000000; 
            text-transform : uppercase; 
            font-weight :550; 
            background-color :#ff3c5f; 
            background-image : linear-gradient(90deg, #ff3c5f, #e49622); 
            white-space : nowrap; 

            /* Adattamento per schermi più piccoli */
            @media (max-width :350px) { 
              padding :6px 15px; 
              font-size :0.8em; 
            }

            /* Adattamento per schermi più piccoli */
            @media (max-width :766px) { 
              width :100%; 
            }
          }
        }
      }

      /* Stile dell'immagine */
      .image {
        position : relative;

         &::before { 
           content : ""; 
           position : absolute; 
           top :50%;  
           left :50%;  
           transform : translate(-50%, -50%);  
           width : calc(100% +60px);  
           height : calc(100% +60px);  
           background-image : linear-gradient(90deg, #ff3c5f, #e49622);  
           filter : blur(30px);  
           opacity : .8;  
           z-index :-1;  
           border-radius :50%;  
         } 

         img { 
           display:block;  
           width :700px;   
           height :400px;   
           object-fit : cover;   
           border-radius :15px;

           /* Adattamento per schermi più piccoli */
           @media (max-width :766px) { 
             width :300px;   
             height :300px;   
           } 
         } 
       } 
     } 
   } 
}
