.navbar {
  background-color: #343a40;
  color: white;
  padding:10px;
  cursor: pointer;


  .navbar-brand {
    color: #E49622;
    font-weight: bold;
  }

  .nav-link {
    i {
      color: #E49622;
      font-size: 30px;
    }
  }

  .nav-item.dropdown .nav-link.dropdown-toggle {
    i {
      color: #E49622;
      font-size: 30px;
      position: relative;
      cursor: pointer;
    }
    .dropdown-item:hover ~ .nav-link .badge {
      display: none;
    }
    .badge {
      background-color: #E49622;
      position: absolute;
      top: 0;
      right: 0;
    }

    .li {
      list-style-type: none;
      cursor: pointer;
    }

  }

  .dropdown-menu {
    min-width: 300px;

    .dropdown-item:hover {
      background-color: #E49622;
      color: white;
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    .navbar-toggler {
      display: none;
    }

    .nav-link {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .nav-link:hover {
      background-color: #333;
    }

    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
    }
  }
}

