<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img
    src="../../../assets/img/logo vz.png"
    alt="VZ Logo"
    width="50px"
    height="50px"
  />
  <a class="navbar-brand" href="#">VOLLEYZONE</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          href="/Home"
          title="Feed"
          (click)="redirectToHomePage()"
        >
          <i class="bi bi-globe"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="/Home"
          title="Settings"
          (click)="redirectToHomePage()"
        >
          <i class="bi bi-tools"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="/Home"
          title="Messages"
          (click)="redirectToHomePage()"
        >
          <i class="bi bi-envelope"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Notifications"
        >
          <i class="bi bi-bell"></i>
          <span class="badge badge-pill badge-success">3</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">One new friend request</a>
          <a class="dropdown-item" href="#"
            >Kōtarō Bokuto posted on your wall</a
          >
          <a class="dropdown-item" href="#">Yu Nishinoya likes your post</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="My Account"
        >
          <img
            src="../../../assets/img/hinata.png"
            width="50px"
            height="50px"
            class="rounded-circle avatar"
            alt="Avatar"
          />
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Navbar on small screens -->
<div
  id="navDemo"
  class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large"
></div>
