<app-sidebar></app-sidebar>

<div class="container">
  <div id="content" class="content p-4">
    <div class="profile-header">
      <div class="profile-header-cover"></div>
      <div class="profile-header-content bg-dark">
        <div class="profile-header-img mb-4">
          <img
            src="../../../assets/img/karasuno.png"
            class="mb-4"
            alt="Avatar"
          />
        </div>

        <div class="profile-header-info">
          <h4 class="m-t-sm">Karasuno High</h4>
          <p class="m-b-sm">Miyagi Prefecture</p>
          <button class="btn btn-xs btn-danger mb-2" (click)="confirmLeave()">
            Leave team
          </button>
        </div>
      </div>

      <ul class="profile-header-tab nav nav-tabs">
        <li class="nav-item" (click)="openNavAlert('FEED')">
          <p class="nav-link">FEED</p>
        </li>
        <li class="nav-item" (click)="openNavAlert('MANAGE')">
          <p class="nav-link">MANAGE</p>
        </li>
        <li class="nav-item" (click)="openNavAlert('PHOTOS')">
          <p class="nav-link">PHOTOS</p>
        </li>
        <li class="nav-item" (click)="openNavAlert('VIDEOS')">
          <p class="nav-link">VIDEOS</p>
        </li>
        <li class="nav-item">
          <p class="nav-link active show">TEAM</p>
        </li>
      </ul>
    </div>
    <!-- alert -->
    <div
      *ngIf="showNavAlert"
      class="alert alert-info"
      role="alert"
      style="position: fixed; top: 0; right: 0; z-index: 3; margin: 10px"
    >
      WIP! It will be released on the next update.
    </div>
    <!-- alert  -->
    <div class="profile-container">
      <div class="row">
        <div class="col-md-8">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="profile-friends">
              <div class="m-2"><b>TEAM LIST</b></div>

              <ul class="friend-list clearfix">
                <li>
                  <a>
                    <div class="friend-img">
                      <img
                        src="../../../assets/img/kageyama.png"
                        alt="Avatar"
                      />
                    </div>
                    <div class="friend-info">
                      <h4>Tobio Kageyama</h4>
                      <p>Setter</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img src="../../../assets/img/hinata.png" alt="Avatar" />
                    </div>
                    <div class="friend-info">
                      <h4>Shoyo Hinata</h4>
                      <p>Middle Blocker</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img src="../../../assets/img/tsukki.png" alt="Avatar" />
                    </div>
                    <div class="friend-info">
                      <h4>Kei Tsukishima</h4>
                      <p>Middle Blocker</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img
                        src="../../../assets/img/nishinoya.png"
                        alt="Avatar"
                      />
                    </div>
                    <div class="friend-info">
                      <h4>Yu Nishinoya</h4>
                      <p>Libero</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img src="../../../assets/img/daichi.png" alt="Avatar" />
                    </div>
                    <div class="friend-info">
                      <h4>Daichi Sawamura</h4>
                      <p>Outside Hitter</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img src="../../../assets/img/asahi.png" alt="Avatar" />
                    </div>
                    <div class="friend-info">
                      <h4>Asahi Azumane</h4>
                      <p>Outside Hitter</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img
                        src="../../../assets/img/sugawara.png"
                        alt="Avatar"
                      />
                    </div>
                    <div class="friend-info">
                      <h4>Koshi Sugawara</h4>
                      <p>Setter</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img src="../../../assets/img/tanaka.png" alt="Avatar" />
                    </div>
                    <div class="friend-info">
                      <h4>Ryunosuke Tanaka</h4>
                      <p>Opposite Hitter</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a>
                    <div class="friend-img">
                      <img src="../../../assets/img/narita.png" alt="Avatar" />
                    </div>
                    <div class="friend-info">
                      <h4>Kazuhito Narita</h4>
                      <p>Middle Blocker</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- colonna destra -->
        <div class="col-md-4 hidden-xs hidden-sm">
          <ul class="profile-info-list">
            <li class="title">TEAM INFORMATION</li>
            <li>
              <div class="field">Location:</div>
              <div class="value">Miyagi Prefecture</div>
            </li>
            <li>
              <div class="field">Manager:</div>
              <div class="value">Kiyoko Shimizu, Hitoka Yachi</div>
            </li>
            <li>
              <div class="field">Coach:</div>
              <div class="value">Keishin Ukai</div>
            </li>
            <li>
              <div class="field">Nationality:</div>
              <div class="value">Japan</div>
            </li>
            <li>
              <div class="field">Address:</div>
              <div class="value">
                <address class="m-b-0">
                  Karasuno High.<br />
                  1355 Neko Street<br />
                  Miyagi, MY 2903
                </address>
              </div>
            </li>
            <li>
              <div class="field">Phone No.:</div>
              <div class="value">(123) 456-7890</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
