// Volleyzone Title
h4.mt-1.mb-5.pb-1 {
  color: #E49622;
  text-transform: uppercase;
  font-weight: 550px;
}

// Sign In button
.btn.btn-primary.btn-block.fa-lg.mb-3 {
  background-color: #ff3c5f;
  background-image: linear-gradient(90deg, #ff3c5f 0%, #e49622 100%);
  font-size: 24px;
  width: 100%;
  text-transform: uppercase;
  padding: 10px 16px;
  font-weight: 550px;
}

// Forgot password link
.text-center.pt-1.mb-5.pb-1 div {
  margin-top: 20px;
}

// Form body
.card-body.p-md-5.mx-md-4 {
  background-color: #333;
  color: #E49622;
  height: 90vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Forgot password text
.text-white-muted {
  color: rgba(255, 255, 255, 0.6);
}