<section class="vh-100" style="background-color: #333">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11"></div>
      <div class="col-xl-10">
        <!-- Card container -->
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <!-- Error alert -->
                <div
                  *ngIf="errorMessage"
                  class="alert alert-danger"
                  role="alert"
                >
                  {{ errorMessage }}
                </div>

                <!-- Warning alert -->
                <div
                  *ngIf="warningMessage"
                  class="alert alert-warning"
                  role="alert"
                >
                  {{ warningMessage }}
                </div>

                <!-- Logo and title -->
                <div
                  class="text-center d-flex align-items-center justify-content-center mb-3"
                >
                  <img
                    src="../../../assets/img/logo vz.png"
                    width="50rem"
                    alt="logo"
                  />
                  <h1 class="ms-3">VOLLEYZONE</h1>
                </div>

                <!-- Login form -->
                <form (ngSubmit)="signIn()" novalidate>
                  <!-- Email input -->
                  <div class="form-outline mb-4 w-100">
                    <input
                      type="email"
                      id="email"
                      class="form-control form-control-lg"
                      [(ngModel)]="email"
                      name="email"
                      placeholder="Email address"
                      required
                    />
                    <label class="form-label" for="email">Email</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4 w-100">
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      [(ngModel)]="password"
                      name="password"
                      placeholder="Password"
                      required
                    />
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <!-- Success alert -->
                  <div
                    *ngIf="successMessage"
                    class="alert alert-success"
                    role="alert"
                  >
                    {{ successMessage }}
                  </div>
                  <!-- Login button -->
                  <div
                    class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center w-100"
                  >
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 btn-lg"
                      type="submit"
                      (click)="signIn()"
                    >
                      Log in
                    </button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <!-- Create new account button -->
                  <div
                    class="d-flex align-items-center justify-content-center pb-4 w-100"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button
                      routerLink="/Register"
                      type="button"
                      class="btn btn-outline-danger btn-lg"
                    >
                      JOIN US
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
